@import 'node_modules/nord/src/lesscss/nord';

.center {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  .flex();
  flex-direction: column;
}

.flex-row {
  .flex();
  flex-direction: row;
}

.rounded {
  border-radius: 0.4rem;
}

.theme(@element,@light,@dark) {
  @{element}: @dark;

  [theme='light'] & {
    @{element}: @light;
  }
}

.default-theme {
  .theme(color, @nord1, @nord4);
  .theme(background-color, @nord6, @nord1);
}

.default-font {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  .theme(color, @nord10, @nord8);
  &:visited {
    color: @nord15;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

body {
  .theme(background-color, @nord6, @nord1);
  transition: background-color 0.3s ease;
  padding-left: 1rem;
  padding-right: 1rem;
}

#app {
  text-align: center;
  .theme(color, @nord2, @nord6);
  .default-font;
  transition: color 0.3s ease;
}
